.contact {
  min-height: 50vh;
  background-color: rgb(26, 27, 37);
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 20px 0;
  margin: 0 auto;
}

.contact__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  font-size: 2.2rem;
  color: rgb(240, 240, 240);
}

.contact__input {
  margin-top: 10px;
  font-size: 2rem;
}
.contact__textArea {
  width: 450px;
  height: 350px;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 2rem;
}

.contact__button {
  padding: 5px 8px;
  font-size: 2rem;
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.contact__button:hover {
  background-color: black;
  border-color: white;
  color: white;
}
