.navigationWrapper {
  width: 100vw;
  height: 70px;
  background-color: #ececec;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

.navigation__li {
  margin: 0 10%;
  font-size: 2.4rem;
}
.navigation__li a {
  color: #222;
  text-decoration: none;
}

.navigation__li a.active {
  color: black;
}

.navigation__li a:hover {
  color: #000;
  text-decoration: underline;
}
