.product {
  display: flex;
  width: 70vw;
  padding: 100px 50px;
  margin: 0 auto;
}

.product__image {
  width: 400px;
  height: 400px;
}

.product__textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.product__title {
  padding-bottom: 40px;
  font-size: 2.8rem;
  color: white;
  letter-spacing: 1px;
}

.product__price {
  font-size: 2.7rem;
  color: white;
}
.product__span {
  color: rgb(187, 42, 42);
}

.product__button {
  transform: translate(200%, 200%);
  width: 95px;
  height: 50px;
  font-size: 2.4rem;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}

.product__button:hover {
  background-color: rgb(175, 11, 11);
  color: white;
}
